@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Oswald:wght@400&display=swap');

/*Personalizacion Index.html*/

body {
    font-family: 'Poppins' sans-serif;
    background-color: #222 ;
    color: #f0f0f0;
    margin: 0; /*No hay margen*/
    padding: 0;/*No hay relleno*/
    }
.header {
    background-color: #0b3c5d;
    padding: 10px; /*es el grueso de lborde*/
    text-align: center;
}
.header_nav {
    background-color: #001f3f;
    display: flex; /* activa el modelo flexbox*/
    justify-content: space-between;/*distribuye el espacio entre los elementos hijos a lo largo del contenedor horizontalmente*/
    align-items: center; /*alinea los elementos hijo a lo largo en vertical*/
    padding: 15px; /*se añade 15 pixeles alrededor del contenido, creando un margen entre el borde del contenedor y sus elementos hijos*/
    height: 50px /* este es el ancho del contenedor*/
}
.header_logo {
    width: 50px; /*fija el ancho del elemento a 50px*/
    height: 50px; /* este es el ancho del contenedor*/
    border-radius: 5px;
}
.header_nav_a {
    color : #f0f0f0;
    text-decoration: none;
    margin: 0 15px; /*margen horizontal de 15px a la izquierda y derecha*/
    font-weight: 600; /*fondo de la letra seminegrita*/
}
.header_nav_a:hover {
    color: #ffc107;
    transition: 0.3s;
}
.header_title{
    font-family: 'Cinzel', serif;
    color: #ffc107;
    font-size: 2.5rem;
}
.main_section {
    text-align: center; /*Alinea el texto en el centro*/
    padding: 60px; /*esos son los piceles al rededor del contenido, creando un margen entre el borde del contenedor y sus elementos hijos*/
}
.main_section_h1 {
    font-family: 'Cinzel', serif ;
    font-size: 48px; /*tamaño de letra*/
    margin-bottom: 20px; /*establece un margen inferior de 20 pixeles*/
    color: #ffc107;
}
.main_section_p {
    font-size: 18px; /*tamaño de letra*/
    margin-bottom: 40px; /*este es el margen inferior, quiere decir la distancia entre el elemento con el de abajo*/
    color: #f0f0f0;
}
.main_div {
    display: flex; 
    justify-content: center;/*distribuye el espacio entre los elementos hijos a lo largo del contenedor horizontalmente*/
    gap: 15px; /*es la distancia horizontal de cada elemento*/
}
.main_div_a {
    background-color: #ffc107; /*color de fondo del enlace*/
    color: #1a1a1a; /*color del texto del enlace*/
    padding: 10px 20px; /*este es el tamaño del bordem 10 pixeles de arriba abajo y 20 pixeles de izquierda a derecha*/
    border-radius: 5px; /*este es el borde del enlace, para que no se vea tan cuadrado*/
    text-decoration: none; /*quita el subrayado a el enlace*/
    font-weight: 600; /*grosor de la letra*/
}
.main_div_a:hover {
    background-color: #e0a800;
    transition: 0.3s; /*el tiempo que demora en ver el color, se llama transicion*/
}
.main_img {
    display: block; /*este elemento es un bloque*/
    margin: 20px auto; /*acomoda el elemento, 40px es arriba y abajo y el auto es acomodarlo el derecho e izquierdo automatico*/
    width: 100%; /*esto quiere decir que el ancho de esta imagen es 100% del ancho del contenedor padre*/
    max-width: 600px; /*el ancho del elemento no puede exceder los 600 pixeles*/
    border-radius: 10px;/*redondea el elemento*/
}
.footer {
    background-color: #001f3f;
    padding: 20px; /*tamaño del contenedor */
    text-align: center; /*pone los elemtos hijos en el centro*/
}
.footer p {
margin: 0;
color: #f0f0f0;
}
/*Personalizando misRutinas.html*/

.routine_section {
    padding: 40px; /*este es el alto  del contenedor osea de arriba abajo*/
    background-color: #1d1d1d;
    border-radius: 10px; /*borde redondeado*/
    margin: 20px auto; /*es la dintancia de este contenedor con los demas*/
    width: 90%; /*este es el ancho del contenedor, osea de izquierda a derecha*/
}
.routine_title {
    font-size: 2rem;
    text-align: center; /*centra el texto al largo del contenedor*/
    color: #ffcc00;

}
.routine_description {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #f0f0f0;
}
.nav-tabs .nav-link {
    background-color: #0b3c5d;
    color: #fff;
    margin-right: 5px; /* la distancia horizontal de cada boton*/
}
.nav-tabs .nav-link.active {
    background-color: #ffcc00;
    color: #000;
}
.tab-content {
    background-color: #333;
    padding: 20px; /*crea un margen de 20px alrededor del contendor*/
    border-radius: 10px;
    color: #fff;
}
.table {
    width: 100%;  /* Esta propiedad establece que la tabla ocupe el 100% del ancho de su contenedor. */
    margin: 20px 0; /* Esta propiedad añade un margen de 20 píxeles en la parte superior e inferior de la tabla, creando espacio alrededor de ella. */
    border-collapse: collapse; /*elimina el espaciado entre celdas*/
    background-color: #2b2b2b; /*Color de fondo de la tabla*/
    border-radius: 10px;/*borde redondeado*/
    overflow: hidden; /*mantener borde rendondeado*/
} 
.table th {
    background-color: #ffcc00; /*color de fondo del encabezado*/
    color: #000;
    padding: 15px; /*espacio entre las celdas*/
    text-align: center;
}
.table-dark {
    background-color: #333; /*establece el fondo oscuro para la tabla*/
    border-color: #444; /*establece el color del borde de la tabla*/
    border-bottom: 3px solid #444; /*borde grueso  y color*/
    font-size: 1.1rem; /*tamaño de letra*/
    text-transform: uppercase; /*todas en mayusculas*/
}
/*Estilo para las filas alternas*/
.table tr:nth-child(even){
    background-color: #333;/* fondo más claro para filas impares */
}
.table tr:nth-child(odd) {
    background-color: #3a3a3a; /* fondo más claro para filas impares */
}
/*efecto hover para als filas*/
.table tr:hover {
    background-color: #444; /*Cambio del color con el cursor por encima*/
}
/* Estilo para las celdas */
.table td {
    padding: 12px; /* más espacio en las celdas para mejor legibilidad */
    color: #fff; /* texto blanco */
    border-bottom: 1px solid #444; /* borde más fino entre celdas */
    text-align: center;
}
/* Estilo del enlace "Click Aquí" */
.table td a {
    color: #ffcc00; /* color del enlace */
    font-weight: bold; /* enlace en negrita */
    text-decoration: none; /* elimina el subrayado */
}
.table td a:hover {
    color: #ffc107; /* color más claro cuando se pasa el cursor */
    text-decoration: underline; /* añade subrayado al pasar el cursor */
}
/* Tabla Bordeada */
.table-bordered {
    border: 2px solid #555; /* un borde más grueso y oscuro */
    border-radius: 10px; /* bordes redondeados */
<<<<<<< HEAD
}
=======
}
>>>>>>> rutinas
